.cart {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;

  h2 {
    color: var(--red);
    font-size: 24px;
    font-weight: bold;
  }

  .empty {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    p {
      font-size: 16px;
      color: var(--rose-500);
      font-size: 14px;
      font-weight: semi-bold;
      text-align: center;
    }
  }

  .full {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .cart-products {
      display: flex;
      flex-direction: column;
    }

    .total {
      display: flex;
      justify-content: space-between;
      color: var(--rose-900);
      align-items: center;

      .title {
        font-size: 14px;
      }

      .price {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .delivery {
    background-color: var(--rose-50);
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    display: flex;
    gap: 8px;

    strong {
      font-weight: bold;
    }
  }

  .checkout {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    padding: 16px;
    border-radius: 999px;

    &:hover {
      filter: brightness(85%);
    }
  }
}
