@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --rose-50: #FCF8F6;
  --rose-100: #F5EEEC;
  --rose-300: #CAAFA7;
  --rose-400: #AD8A85;
  --rose-500: #87635A;
  --rose-900: #160F08;
  --red: #C73B0F;
  --green: #1EA575;
  --black: #000;
  --white: #fff;
}

body {
  background-color: var(--rose-50);
  font-family: "Red Hat Text", sans-serif;
  padding: 24px;
}

@media screen and (min-width: 768px) {
  body {
    padding: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-block: 88px;
    display: flex;

    justify-content: center;
  }

}
